<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SAVE(status) Documentation</title>
</head>
<body>
<h2>Значения кодов "response_status"</h2>
<ul>
    <li><h3><a href="/documentation">/...</a></h3></li>
    <li><h3><bold>0</bold> - Запрос выполнен успешно.</h3></li>
    <li><h3><bold>-1</bold> - пользователя не существует.</h3></li>
    <li><h3><bold>-2</bold> - неверный пароль.</h3></li>
    <li><h3><bold>-3</bold> - неверный токен.</h3></li>
    <li><h3><bold>-4</bold> - профиль пользователя не существует.</h3></li>
    <li><h3><bold>-5</bold> - портфолио пользователя не существует.</h3></li>
    <li><h3><bold>-6</bold> - документы пользователя не существуют.</h3></li>

</ul>
</body>
</html>